.addpasscontainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.addpassform {
  text-align: center;
  /* border: 0.1rem solid #1f1f2a; */
  padding: 5px;
  box-shadow: rgba(36, 36, 36, 0.35) 0px 2px 10px;
  border-radius: 10px;
}

.addpassinput {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #030504;
  border: solid rgba(56, 56, 56, 0.35);
  border-radius: 5px;
  color: #e4e364;
  font-family: "Montserrat", sans-serif;
  border-width: 2px;
}

.addpassinput::placeholder {
  color: #e4e364;
}

.addpassbtn {
  background-color: #e4e364;
  color: #030504;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.addpassbtn:hover {
  cursor: pointer;
}

.addpassbtn:active {
  color: #e4e364;
  background-color: #030504;
}

.show-pass-btn {
  font-family: "Montserrat", sans-serif;
  color: #030504;
  background-color: #e4e364;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.show-pass-btn:active {
  color: #e4e364;
  background-color: #030504;
}
