.heading {
  /* margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%; */
  border: solid #1f1f2a 0.15rem;
  display: table;
  margin: 15% auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e4e364;
  padding: 5px;
}
h1 {
  text-decoration: underline #4d59fa;
}

h3 {
  font-weight: 300;
}

.list {
  display: table;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: left;
}

.inner {
  padding: 5px;
}
