.modalBG {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  border: 2px solid #e4e364;
  color: #e4e364;
  padding: 2.5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.generatorForm {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.number-input {
  width: 2.5rem;
}

.generatedDisplayArea {
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e4e364;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-break: break-all;
  word-wrap: break-word;
  width: 90%;
  border-radius: 5px;
}
.generatedDisplayArea p {
  font-weight: 600;
}

.genbtn {
  grid-column: span 2;
  border-radius: 5px;
  background-color: #e4e364;
  color: #030504;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.genbtn:active {
  color: #e4e364;
  background-color: #030504;
}

.gentitle {
  text-decoration: none;
  font-weight: 700;
  font-size: 23x;
  margin-top: 0;
}

.copybtn {
  background-color: black;
  color: #e4e364;
  cursor: pointer;
}
.copybtn:active {
  color: #030504;
  background-color: #e4e364;
}

.closemodalbtn {
  border-radius: 5px;
  background-color: #030504;
  color: #e4e364;
  border: 2px solid #e4e364;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.closemodalbtn svg {
  vertical-align: bottom;
}

.closemodalbtn:active {
  color: #030504;
  background-color: #e4e364;
  border: none;
}
