.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: #030504;
  color: #fff;
  border-bottom: 0.1rem solid;
  border-color: #1f1f2a;
}

.site-name {
  color: #e4e364;
  font-weight: bold;
  font-size: 150%;
}

.logo {
  text-decoration: none;
  color: #e4e364;
  padding: 10px;
}

.links-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: lighter;
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
  border: 0.1rem solid;
  border-color: #e4e364;
}
